body{font-family: 'Roboto Slab', serif;
color:rgb(44, 170, 226);
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
padding-top:120px;}


/*colors
blue2 rgb(44, 170, 226);}
footer blue: rgb(44, 170, 226);}
Red rgb(221, 39, 32)
royal blue rgb(0, 66, 179)
yellow rgb(255, 201,7)
gray rgb(149 G-155 166)
dk blue rgb(25, 47, 52)
blue/black rgb(44, 170, 226)*/


a:link{text-decoration: none;
font-size: 15px;}
a:link:hover{color:rgb(44, 170, 226);
text-decoration: none;}

a.white{color:#fff;
  /* font-size: 15px;*/
   border-bottom: 1px solid #fff;
    }
a.blue{
  color:rgb(44, 170, 226);
   border-bottom: 1px solid rgb(44, 170, 226);
    }    

a.black{color:#000;
       border-bottom: 1px solid #000;
}

h1{font-weight: 300;
font-size: 40pt;
line-height: 38pt}

h2{font-weight: 300;
font-size: 30pt;
line-height: 34pt}

h3{font-size:18pt;
line-height:28pt;
font-weight: 300;
color:#fff;
margin-bottom: 0;}

li.h3{
font-weight: 300;
font-size:18pt;
line-height:28pt;
}

h4{font-size:14pt;
line-height:21pt;
font-weight: 400;}

h5{font-size:13pt;
line-height:18pt;
font-weight: 700;
color: #fff}

p{font-size:10pt;
line-height:12pt;
font-weight: 400;}

b, strong {
    font-weight: 700;
}

/*NAV BAR*/
.fixedtop{z-index: 1000;
height:50px;}


.logo {
    height: 78px;
}

.navbarDropdown, .dropdown-item, .nav-link {
    font-size: 1rem;
    line-height: 1.2;
}

/*.navbar-light .navbar-nav .active>.nav-link{color:rgb(44, 170, 226);}*/

.navbar-light .navbar-nav .nav-link {
    color: rgb(25, 47, 52);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(44, 170, 226);
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border: none;
}


/*MAIN*/

#main{z-index: 1;}
/*#part1 {
    background: url(../img/C1.jpg);
    background-size: cover; 
    background-position: right;
    background-attachment: fixed;
}*/

#part1 h1 {
    color:#fff;
    text-shadow: -1px 0px 1px rgba(0, 0, 0, 0.9);
}
#part1 h2 {
    color:#fff;
    text-shadow: -1px 0px 1px rgba(0, 0, 0, 0.9);
}

#part1a h3 {
    color:000;
}

#results{background:rgb(0, 66, 179);
}


.graph{background-image: url(../img/A2+A3.svg);
    background-repeat: no-repeat;
    background-position: 30;
    background-size: contain;
}

#results h1, #results h2{color:rgb(0, 175, 154)}


.logoGrid img{max-width: 150px}

img.quote {
    width: 30px;
}

#Quote h3 {color:#caf8f9;}

#part3{background:#000;}

#part3 h3{color:#caf8f9;}

#part3 a.white{color:#caf8f9;
border-bottom: 1px solid #caf8f9;}

#part3 h5 {color:#caf8f9;}

#careers, #careers2{background:rgb(0, 119, 192);}

#careers h2, #careers h1{color: rgb(255, 201,7);
    text-shadow: -1px 0px 1px rgba(0, 0, 0, 0.9);
}

#careers2 img{width: 100%;
max-width: 358px; }

#careers2 p.quote {
    color: #fff;
   /* padding: 15px 50px 0 50px;*/
    font-size: 15pt;
    line-height: 20pt;
    margin-bottom: 0;
}

#careers2 p.color{color:#ffc906;
font-size: 15pt;
    line-height: 22pt;}

#part4 h2{color:rgb(0, 66, 179);}

#part5 h3{color:#000;}

#part5 h5{color:#959ba6}


img.img-fluid.book {
    max-width: 350px;
}

#part6{
    background: url(../img/Arrow_2.svg);
    background-size: cover; 
    min-height: 370px;
    background-position: center;
}

#part6 h2{color: rgb(0, 66, 179);}


#part7 h3{color:#000;}

#part7 h3 {padding-bottom: 2rem;}

/*ABOUT PAGE*/

#AboutPart1 h1 {
    color:rgb(255, 201,7);
    text-shadow: -1px 0px 1px rgba(0, 0, 0, 0.9);

}

#AboutPart3{background: #000;}

#AboutPart2 h3, #AboutPart4 h3, #AboutPart5 h3 {
    color: #000;
    margin-bottom: 28pt;
}

.Ampst{width:30px;}

#AboutPart5 p{
    margin-bottom: .5rem;
}

.card-group{-webkit-box-shadow: 3px 6px 23px -4px rgba(0,0,0,0.45);
-moz-box-shadow: 3px 6px 23px -4px rgba(0,0,0,0.45);
box-shadow: 3px 6px 23px -4px rgba(0,0,0,0.45);}

.card-img-overlay .reveal {
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0;
    max-height: 100%;
}

.card-img-overlay .reveal p {
font-size: .85rem;
line-height: 1.3;
padding-bottom: .425rem;
font-family: 'Roboto', sans-serif;
font-weight: 700;
}

.card-img-overlay span.yellow {
color:rgb(255, 201,7);
font-weight: 700;
}


.card-img-overlay:hover .reveal {
    height: auto;
    visibility: visible;
    opacity: 10;
    transition: opacity 1s ease;
    font-size: 12px;
    line-height: 1.1;
} 

.card-img-overlay:hover {
   background: rgba(0,0,0, .6);   
  transition: opacity 1s ease;
} 

.card-img-overlay:hover {
   background: rgba(0,0,0, .6);   
  transition: opacity 1s ease;
} 

.card-img-overlay:hover h6.card-title{opacity: 0}

.card {
    background-clip: unset;
    border: none;
    border-radius: 0;
}

.card-body {
    padding: .5rem 1.25rem 2.3rem;
}



.card-img {
    border-radius: unset;
}


h6.card-title {
    font-size: 1rem;
    position: absolute;
    bottom: 90px;
}

h5.card-title {
    margin-bottom: 0;
    padding-bottom: 0;
    color: #000;
    font-size: 1rem;
    line-height: 1.3;
}

p.card-text {
    font-size: 1rem;
color: #000;
line-height: 1.3;}


span.blue{color:rgb(44, 170, 226);}

/*FOOTER*/
footer{background: rgb(25, 47, 52);}

footer p, footer h4{
	font-size: 13px;
    line-height: 16px;
	list-style: none;}

footer p{margin-bottom: .4rem;}

footer a{color:#fff;}

footer h4 a{color:rgb(44, 170, 226);
font-size: 17px;}


/*MEDIA QUERIES*/
@media (min-width: 576px) {

 #careers2 img{width: 100%;
max-width: 100%; }

img.quote {
    width: 50px;
}

img.img-fluid.book {
 width: 150px;
}

}

@media (min-width: 768px) {

h1{font-size: 70pt;
line-height: 68pt}

h2{font-size: 38pt;
line-height: 38pt}

h3{font-size:18pt;
line-height:24pt;
}

li.h3{
font-size:24pt;
line-height:33pt;
}

h4{font-size:18pt;
line-height:31pt;
}




p{font-size:12pt;
line-height:14pt;}

img.quote {
    width: 65px;
}

.graph{
    background-position: 180;
}
img.img-fluid.book {
 width: 180px;
}
}


@media (min-width: 992px) {

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .7rem;
    padding-left: .7rem;
}    

h1{font-size: 75pt;
line-height: 74pt}

h2{font-size: 50pt;
line-height: 50pt}

h3{font-size:24pt;
line-height:33pt;}

h5{font-size:18pt;
line-height:22pt;}

img.quote {
    width: 90px;
}

img.img-fluid.book {
    width: 220px;
}
}

@media (min-width: 1200px) {

h1{font-size: 95pt;
line-height: 87pt}

h2{font-size: 58pt;
line-height: 58pt}



img.img-fluid.book {
    width: 300px;} 

}

/*VIDEO*/
header {
  position: relative;
  background-color: black;
  min-height: 560px;
  width: 100%;
  overflow: hidden;
}

body.about header {
  position: relative;
  background-color: black;
  min-height: 480px;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container-fluid {
  position: relative;
  z-index: 2;
  opacity: 1;
  min-height: 600px;
}

/*header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
}*/

/*.overlayAbout
{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}*/

/*@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}
*/