body{font-family: 'Roboto Slab', serif;
color:rgb(44, 170, 226);
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
padding-top:120px;}


/*colors
blue2 rgb(44, 170, 226);}
footer blue: rgb(44, 170, 226);}
Red rgb(221, 39, 32)
royal blue rgb(0, 66, 179)
yellow rgb(255, 201,7)
gray rgb(149 G-155 166)
dk blue rgb(25, 47, 52)
blue/black rgb(44, 170, 226)*/


a:link{text-decoration: none;
font-size: 15px;}
a:link:hover{color:rgb(44, 170, 226);
text-decoration: none;}

a.white{color:#fff;
  /* font-size: 15px;*/
   border-bottom: 1px solid #fff;
    }
a.blue{
  color:rgb(44, 170, 226);
   border-bottom: 1px solid rgb(44, 170, 226);
    }    

a.black{color:#000;
       border-bottom: 1px solid #000;
}

h1{font-weight: 300;
font-size: 60px;
line-height: 62px}

h2{font-weight: 300;
font-size: 36px;
line-height: .98}

h3{font-size:18px;
line-height:28px;
font-weight: 300;
color:#fff;
margin-bottom: 0;}

li.h3{
font-weight: 300;
font-size:18px;
line-height:28px;
}

h4{font-size:14px;
line-height:21px;
font-weight: 400;}

h5{font-size:13px;
line-height:18px;
font-weight: 700;
color: #fff}

p{font-size:10px;
line-height:12px;
font-weight: 400;}

b, strong {
    font-weight: 700;
}

/*NAV BAR*/
.fixedtop{z-index: 1000;
height:50px;}


.logo {
    height: 78px;
    max-width: 166px;
}

.navbarDropdown, .dropdown-item, .nav-link {
    font-size: 1rem;
    line-height: 1.2;
}

/*.navbar-light .navbar-nav .active>.nav-link{color:rgb(44, 170, 226);}*/

.navbar-light .navbar-nav .nav-link {
    color: rgb(25, 47, 52);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(44, 170, 226);
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border: none;
}


/*MAIN*/

#main{z-index: 1;}
/*#part1 {
    background: url(../img/C1.jpg);
    background-size: cover; 
    background-position: right;
    background-attachment: fixed;
}*/

#part1 h1 {
    color:#fff;
    text-shadow: -1px 0px 1px rgba(0, 0, 0, 0.9);
}
#part1 h2 {
    color:#fff;
    text-shadow: -1px 0px 1px rgba(0, 0, 0, 0.9);
}

#part1a h3 {
    color:000;
}

#results{background:rgb(0, 66, 179);
  position: relative;
}

.graph-text{z-index:1000;}

.graph {background-image: url(../img/A2+A3.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 300px;
  background-position: 50px;
  top:0;
  left:0;
   z-index:1;
}

.slide-out-right{
  position: absolute;
  z-index:100;
  min-height: 500px;
  width: 100%;
  background:#0142B3;
  top:0;
  left:0;
}  

.slide-out-right {
  -webkit-animation: slide-out-right 5s ease-out 1s forwards;
          animation: slide-out-right 5s ease-out 1s forwards;
}

.revealOnScroll {
    background: #0142B3;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
}

#results h1, #results h2{color:rgb(0, 175, 154)}


.logoGrid img{max-width: 130px;}

img.quote {
    width: 30px;
}

#Quote h3, #Quote h5 {color:#caf8f9;
}

#Quote h5 {    font-size: 20px;
    line-height: 1.3;
}

#part3, #Quote{background:#000;}

#part3 h3{color:#caf8f9;}

#part3 a.white{color:#caf8f9;
border-bottom: 1px solid #caf8f9;}

#part3 h5 {
    color: #caf8f9;
    font-size: 20px;
    line-height: 1.3;
}

#careers, #careers2{background:rgb(0, 119, 192);}

#careers h2, #careers h1{color: rgb(255, 201,7);
    text-shadow: -1px 0px 1px rgba(0, 0, 0, 0.9);
}

#careers2 img{width: 100%;
max-width: 384px; }

#careers2 p.quote {
    color: #fff;
   /* padding: 15px 50px 0 50px;*/
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0;
}

#careers2 p.color{color:#ffc906;
font-size: 15px;
    line-height: 22px;}

#part4 h2{color:rgb(0, 66, 179);}

#part5 h3{color:#000;}

#part5 h5 {
    color: #959ba6;
    font-size: 20px;
    padding-top: 5px;
}


img.img-fluid.book {
    max-width: 350px;
}

#part6{
    background: url(../img/Arrow_2.svg);
    background-size: cover; 
    min-height: 370px;
    background-position: center;
}

#part6 h2{color: rgb(0, 66, 179);}


#part7 h3{color:#000;}

#part7 h3 {padding-bottom: 2rem;}

/*ABOUT PAGE*/


#AboutPart1 h1 {
    color:rgb(255, 201,7);
    text-shadow: -1px 0px 1px rgba(0, 0, 0, 0.9);

}

#AboutPart3{background: #000;}

#AboutPart2 h3, #AboutPart4 h3, #AboutPart5 h3 {
    color: #000;
    margin-bottom: 28px;
}

.Ampst{width:30px;}

#AboutPart5 p{
    margin-bottom: .5rem;
}


.card-group{-webkit-box-shadow: 3px 6px 23px -4px rgba(0,0,0,0.45);
-moz-box-shadow: 3px 6px 23px -4px rgba(0,0,0,0.45);
box-shadow: 3px 6px 23px -4px rgba(0,0,0,0.45);}

.card-img-overlay .reveal {
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0;
    max-height: 100%;
}

.card-img-overlay .reveal p {
font-size: .85rem;
line-height: 1.3;
padding-bottom: .425rem;
font-family: 'Roboto', sans-serif;
font-weight: 700;
}

.card-img-overlay span.yellow {
color:rgb(255, 201,7);
font-weight: 700;
}


.card-img-overlay:hover .reveal {
    height: auto;
    visibility: visible;
    opacity: 10;
    transition: opacity 1s ease;
    font-size: 12px;
    line-height: 1.1;
} 

.card-img-overlay:hover {
   background: rgba(0,0,0, .6);   
  transition: opacity 1s ease;
} 

.card-img-overlay:hover {
   background: rgba(0,0,0, .6);   
  transition: opacity 1s ease;
} 

.card-img-overlay:hover h6.card-title{opacity: 0}

.card {
    background-clip: unset;
    border: none;
    border-radius: 0;
}

.card-body {
    padding: .5rem 1.25rem 2.3rem;
}


.card-img {
    border-radius: unset;
}


h6.card-title {
    font-size: 1rem;
    position: absolute;
    bottom: 90px;
}

h5.card-title {
    margin-bottom: 0;
    padding-bottom: 0;
    color: #000;
    font-size: 1rem;
    line-height: 1.3;
}

p.card-text {
    font-size: 1rem;
color: #000;
line-height: 1.3;}


span.blue{color:rgb(44, 170, 226);}

/*FOOTER*/
footer{background: rgb(25, 47, 52);}

footer p, footer h4{
	font-size: 11px;
    line-height: 16px;
	list-style: none;}

footer p{margin-bottom: .4rem;}

footer a{color:#fff;}

footer h4 a{color:rgb(44, 170, 226);
font-size: 11px;}

footer a:link {
    text-decoration: none;
    font-size: 13px;
}


/*MEDIA QUERIES*/
@media (min-width: 576px) {

.graph{background-position: 50px;
min-height: 328px;}

 #careers2 img{width: 100%;
}


img.quote {
    width: 50px;
}

img.img-fluid.book {
 width: 150px;
}

}


@media (min-width: 768px) {

h1{font-size: 70px;
line-height: 68px}

h2{font-size: 38px;
}

h3{font-size:18px;
line-height:24px;
}

li.h3{
font-size:24px;
line-height:33px;
}

h4{font-size:18px;
line-height:31px;
}


p{font-size:12px;
line-height:14px;}

img.quote {
    width: 65px;
}

.graph {
    min-height: 355px;
    background-position: 71px;
}

img.img-fluid.book {
 width: 180px;
}
}


@media (min-width: 992px) {

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .7rem;
    padding-left: .7rem;
}    

h1{font-size: 97px;
line-height: 92px}


h2{font-size: 50px;
}

h3{font-size:24px;
line-height:33px;}

.graph {
    min-height: 463px;
    background-position: 71px;
}

img.quote {
    width: 90px;
}

img.img-fluid.book {
    width: 220px;
}
}

@media (min-width: 1200px) {


h2{font-size: 58px;
  line-height: 63px;
}


.graph {
min-height: 442px;
background-position: 81px;
}

img.img-fluid.book {
    width: 280px;} 
}

/*VIDEO*/
header#video {
  position: relative;
  background-color: black;
  min-height: 560px;
  width: 100%;
  overflow: hidden;
}


header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header#video .container-fluid {
  position: relative;
  z-index: 2;
  opacity: 1;
  min-height: 600px;
}

header#video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*background-color: rgba(0, 0, 0, .5);*/
  z-index: 1;
}

body.about header {
  position: relative;
  background-color: black;
  width: 100%;
  overflow: hidden;
} 

.overlayAbout
{ position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

body.About .carousel-item img{
 object-fit: cover;}

/* .slide-out-right {
  -webkit-animation: slide-out-right 3.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          animation: slide-out-right 3.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}*/

/*@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}
*/

/* ----------------------------------------------
 * Generated by Animista on 2019-6-3 15:37:51
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  99% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0;
  }

}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  99% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0;
  }
}